//Imports Functions
@import"../node_modules/bootstrap/scss/functions";

//Globals
$enable-rounded: false;
//$enable-shadows: true;

//Website Colours

$primary: rgb(74, 75, 93);
$secondary: rgb(147, 0, 173);
$danger: rgb(102, 57, 32);
$black:    #000000 !default;

//Custom Text Styling

$font-family-sans-serif: "Oxanium", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-family-monospace: "Pixelify Sans", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


$h1-font-size: 3.5rem !default;

$h2-font-size: 2rem !default;

.navbar{
    font-family: $font-family-monospace;
}

.text-stroke-thick{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: white;
}

.text-stroke-thin{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
}

//For shadow on text
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0,0,0,1);
}

//Border
$border-width:                2px !default;
$border-color:                $black !default;



@import"../node_modules/bootstrap/scss/variables";
@import"../node_modules/bootstrap/scss/mixins";

//This Imports Bootstraps CSS
@import"../node_modules/bootstrap/scss/bootstrap.scss";