//Imports Functions
@import"../node_modules/bootstrap/scss/functions";

//Globals
$enable-rounded: false;
//$enable-shadows: true;

//Website Colours

$primary: rgb(74, 75, 93);
$secondary: rgb(147, 0, 173);
$danger: rgb(102, 57, 32);
$black:    #000000 !default;

//Custom Text Styling

$font-family-sans-serif: "Oxanium", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-family-monospace: "Pixelify Sans", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

//Sets custom font sizes for headings

$h1-font-size: 3.5rem !default;

$h2-font-size: 2rem !default;

$h3-font-size: 1.5rem !default;

//Permantly makes text in Navbar and Footer to a pixel font, as I only want pixel fonts there

.navbar{
    font-family: $font-family-monospace;
}

//Custom CSS for thin and thick text strokes, as bootstrap does not have this feature

.text-stroke-thick{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: white;
}

.text-stroke-thin{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
}

//For shadow on text
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0,0,0,1);
}

//Border
$border-width:                2px !default;
$border-color:                $black !default;

$grid-columns:                12 !default;
$grid-gutter-width:           1.875rem !default;
$grid-row-columns:            6 !default;



@import"../node_modules/bootstrap/scss/variables";
@import"../node_modules/bootstrap/scss/mixins";

//This Imports Bootstraps CSS
@import"../node_modules/bootstrap/scss/bootstrap.scss";