//Important Functions
@import "../node_modules/bootstrap/scss/functions";

//Globals
$enable-rounded: false;
// $enable-shadows: true;

//Theme colors
$primary: #4A4B5D;
$secondary: #9300AD;
$dark: rgb(31, 28, 28);
$light: rgb(129, 114, 114);

// Variables + Mixins
// [importing these after, because they depend on the new variables above]  

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

//Custom Colours
$custom-colors:(
    "primary-light":rgb(62, 22, 28),
    "secondary-light": rgb(75, 105, 133),
);

//Merges colours with theme
$theme-colors: map-merge($theme-colors, $custom-colors);

//Imports Bootstrap.scss
@import "../node_modules/bootstrap/scss/bootstrap.scss";

